.article{
    font-family: sans-serif;
    &__contentHeader{
        font-family: 'Sansita Swashed', cursive;;
    }
    &__content{
        &--special_font{
            font-family: 'Sansita Swashed', cursive;
        }
    }
}