.lightboxWrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    &__photoContainer{
        width: 100px;
        height: 100px;
        padding: 10px 0;
    }
    &__photo{
        width: 100%;
        height: 100%;
    }
}
@media(min-width: 768px){
    .lightboxWrapper{
        &__photoContainer{
            width: 300px;
            height: 220px;
        }
    }
}