.mainMenuWrapper{
    background-color: $white;
    border: 2px solid $dark;
    position: sticky;
    top: 0;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__btnCollapse{
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: column wrap;
        border: none;
        border: 2px solid $dark;
        border-radius: 5px;
        width: 60px;
        height: 44px;
        padding: 5px;
        &:hover{
            cursor: pointer;
        }
        &:focus{
            outline: $yellow solid 1px;
        }
    }
    &__btnBar{
        height: 4px;
        width: 60%;
        background-color:$dark;
    }
}
.mainMenu{
    transform: translateY(-100%);
    transition:  transform 1s;
    width: 100%;
    background-color: $white;
    padding: 10px;
    z-index: 2;
    &__menu{
        display: flex;
        flex-wrap: wrap;
    }
    &__item{
        width: 100%;
        height: 30px;
        padding: 5px;
        text-align: center;
    }
    &__link{
        color: $dark;
        &:hover{
            color: $yellow;
        }
    }
    &--open{
        transform: translateY(70%);
        transition: transform 1s;
    }
}

//MEDIA QUERIES
@media(min-width: 768px){
    .mainMenuWrapper{
        &__btnCollapse{
            display: none;
        }
    }
    .mainMenu{
        transform: translateY(0);
        display: flex;
        justify-content: flex-end;
        &__item{
            width: 125px;
            padding: 0;
            padding-top: 5px;
        }
    }
}