.mainMenuWrapper{
    border: 1px solid green;
    position: sticky;
    top: 0;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__btnCollapse{
        position: absolute;
    }
}
.mainMenu{
     transform: translateY(-100%);
}