.sliderWrapper{
    height: 40vh;
    position: relative;
    background-color: $dark;
    // STYLE FOR DOTS
    &__dotsWrapper{
        list-style: none;
        margin: 0px;
        padding: 0;
        height: 40px;
        position: absolute;
        left: 50%;
        top: 75%;
        transform: translate(-50%);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__dot{
        background: #fff;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin: 0 8px;
        border: 3px solid $dark;
        &--active{
            background: $yellow;
        }
        &:hover{
            cursor: pointer;
        }
    }
    // STYLE FOR DOTS END

    &__img{
        position: absolute;
        left: 0;
        opacity: 0;
        transition: opacity .4s;
        &--active{
            opacity: 1;
            transition: opacity 2s;
        }
    }
    &__textWrapper{
        position: absolute;
        width: 100%;
        //75% of height to this wrapper does not cover the dots(if this wrapper covers the dots user is not able to click in dots)
        height: 75%;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    &__promotionalText{
        font-size: 36px;
        color: #fff;
        text-shadow: 5px 5px 0px #000000;
    }
}

//MEDIA QUERIES
@media(min-width: 576px){
    .sliderWrapper{
        &__dotsWrapper{
            top: 85%;
        }
        height: 60vh;
        &__promotionalText{
            font-size: 64px;
        }
    }
}
@media(min-width: 768px){
    .sliderWrapper{
        height: 90vh;
        &__promotionalText{
            font-size: 96px;
        }
    }
}