.sliderWrapper{
    border: 1px solid red;
    height: 60vh;
    position: relative;
    &__dotsWrapper{
        height: 40px;
    width: 160px;
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
    &__dot{
        background: #fff;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 3px solid $dark;
        &:hover{
            cursor: pointer;
        }
    }
}