*, *::before, *::after{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}